<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204717000834-7q4292u4klm30gutj5atk4d6aevt9elp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204717000834-7q4292u4klm30gutj5atk4d6aevt9elp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>204717000834-k2a2jclo06tf8v66aocntujtinqgppa5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAj8KtnKw04GRs6TiOgPG3RqDkCUhOQHl4</string>
	<key>GCM_SENDER_ID</key>
	<string>204717000834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebase</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-87542</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-87542.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204717000834:ios:46e9bb723d5bbb7dad8c9b</string>
</dict>
</plist>